{% extends 'base.html' %}
{% block title %}a_Messagi: An Anonymous Messaging Platform {% endblock %}
{% block body %}

    <div class="container messagebox" >
        <br>
        {% if msg is None %}
        <form class="container" action="{% url 'msg:index' %}" method="post">{% csrf_token %}
        {{form.as_p}}
        <p>
            <button type="submit" class="btn-primary btn-large">Send Message</button>
        </p>
        </form>
        {% else %}
        {{msg}}
        {% endif %}
    </div>
{% endblock %}